body {
  /* background-color: #fefbe7; */
  background-image: url("https://media-exp1.licdn.com/dms/image/C5603AQFPrAuSknIL2Q/profile-displayphoto-shrink_400_400/0/1643288664943?e=1669248000&v=beta&t=r70qMFlv5VP9acJgg3fesLi_tWRmDFZBPf7dQk9rXtc");
  background-size: auto;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 100%;
  color: #40514e;
}

section {
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  section {
    max-width: 100%;
    margin: auto;
  }
}


h1 {
  font-size: 5.625rem;
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
  margin-bottom: 0%;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  font-size: large;
  color: #40514e;
}

hr {
  border-width: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: dotted none none;
  border-color: #eaf6f6;
  border-width: 6px;
  width: 5%;
  margin: 50px auto;
}

/************************Class styling*****************/

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  background-color: rgb(253, 252, 252);
  padding-bottom: 30px;
  padding-top: 50px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.profile_picture {
  border-radius: 50%;
  width: 10%;
}
.picture {
  border-radius: 50%;
  width: 25%;
  float: left;
  padding-right: 30px;
}
.favorite_food {
  border-radius: 50%;
  width: 25%;
  float: right;
  padding-left: 30px;
}
.h3_in_div {
  margin-top: 0px;
}

.pro {
  text-decoration: underline;
}

/* .top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
} */

/* .bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
} */
.Hello {
  width: 40%;
  margin: auto;
  line-height: 2;
}

.contact-message {
  width: 40% auto 40%;
  margin: auto;
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: justify;
  line-height: 2;
}

/* .footer-link {
  color: #11999e;
  font-size: medium;
  padding-right: 40px;
  text-decoration: none;
} */

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  border: solid #88fbfb 0;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  border: solid #30e3cb 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/*************************** ID styling ****************************/

#copyright {
  color: #eaf6f6;
  padding: 20px 0;
  font-size: 0.75rem;
}
