body {
  background-color: #01676b;
  background-size: auto;
  margin: 0px;
  padding: 4% 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 100%;
  color: #40514e;
}

section {
  max-width: 70%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  section {
    max-width: 100%;
    margin: auto;
  }
}

h1 {
  font-size: 5.625rem;
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 1;
  margin-top: 2%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  font-size: large;
  color: #40514e;
}

.header {
  margin-bottom: 0;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 1%;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: dotted none none;
  border-color: #aaf1f1;
  border-width: 6px;
  width: 5%;
  margin: 2% auto;
}

/************************Class styling*****************/

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding: 1%;
}

.middle-container {
  background-color: rgb(253, 252, 252);
  padding: 1%;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 1%;
}

.profile_picture {
  border-radius: 80%;
  width: 10%;
}
.picture {
  border-radius: 50%;
  width: 25%;
  float: left;
  padding-right: 30px;
}
.favorite_food {
  border-radius: 50%;
  width: 25%;
  float: right;
  padding-left: 30px;
}
.h3_in_div {
  margin-top: 0px;
}

.pro {
  text-decoration: underline;
}

.Hello {
  width: 60%;
  margin: auto;
  line-height: 2;
}

.contact-message {
  width: 60% auto;
  margin: auto;
  line-height: 2;
}
.skill-row {
  width: 60%;
  margin: 5% auto;
  text-align: justify;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  border: solid #88fbfb 0;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  border: solid #30e3cb 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/*************************** ID styling ****************************/

#copyright {
  color: #eaf6f6;
  padding: 1%;
  font-size: 0.75rem;
}
